body {
    overflow-x: hidden;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

main {
    margin-top: 110px;
    margin-bottom: 40px;
}

section {
    scroll-margin-top: 60px;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.section-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.tipoPlan {
    min-height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tipoPlan span {
    visibility: hidden;
}

.tipoPlan .visible {
    visibility: visible;
}

.custom-shadow {
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}

.pagina-con-margen {
    margin-top: 60px;
    margin-bottom: 0;
}

@media (max-width: 1023px) {
    #nav-list {
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: white;
        flex-direction: column;
        gap: 12px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 50;
    }

    #nav-list li a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
    }
}

.selected {
    border: 2px solid orange; 
    border-radius: 8px; 
    position: relative;
    z-index: 10; 
}

.card.selected {
    border-color: #ff8000; 
}


.selected .flecha1 {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.selected .flecha2 {
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
}

#texto-seleccionado {
    height: auto; 
    min-height: 94%; 
}

#tarjetas {
    display: flex;
    flex-direction: column;
}

#tarjetas::after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}

.message-appear {
    opacity: 0;
    transform: translateY(-30px); 
    transition: opacity 0.6s ease, transform 0.6s ease; 
}

.message-visible {
    opacity: 1;
    transform: translateY(0); 
    transition: opacity 0.6s ease, transform 0.6s ease;
}



