@font-face {
    font-family: 'monserrat';
    src: url("../tip/Monserrat/Montserrat-Italic-VariableFont_wght.ttf") format('woff2');
}

/* Estilos de todo el cuerpo de la pagina */
body, html {
    font-family: "monserrat";
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* Estilos del header */
header {
    background: #f9f6f6;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos base del contenido de la pagina */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    gap: 50px;
}

/* Estilos del navegador */
nav {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
}
.logo {
    font-size: 44px;
    font-weight: bold;
    color: #ff8000;
    text-decoration: none;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px;
}
nav ul li a:hover {
    color: #ff8000;
}
.contacto {
    background: #ff8000;
    color: #fff !important;
    padding: 5px 10px;
    border-radius: 5px;
}
.contacto:hover {
    background-color: #fdb447;
}
#inicio {
    cursor: pointer;
}

/* Estilos para el contenido junto a la imagen y sus contenedores */
.contenedor-de-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.contenido {
    max-width: 600px;
    flex: 1;
}
.contenido h1 {
    font-size: 65px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    margin-bottom: 5px;
}
.contenido ul {
    list-style: none;
    padding: 0;
}
.contenido ul li {
    font-size: 18px;
    margin: 10px 0;
}
.fraseExito {
    font-size: 34px;
    width: 95%;
    font-weight: bold;
    color: #ff8000;
    margin-top: 70px;
    text-align: center;
}

/* Estilos para la imagen principal */
.imagen img {
    width: 500px;
    height: auto;
    border-radius: 20px;
    flex: 1;
    margin: 0;
}

/* Estilos para el contenedor principal del carrusel */
.slider-seccion {
    position: relative;
    width: 100vw;
    overflow: hidden;
    background-color: #ff8000;
    padding: 20px 0; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 0;
    margin-left: 20px;
}
.imagen-superior-izquierda {
    position: absolute;
    top: 50px;
    left: 60px;
    width: 250px;
    height: auto;
    z-index: 10;
}
.imagen-inferior-derecha {
    position: absolute;
    bottom: 50px;
    right: 90px;
    width: 200px;
    height: auto;
    z-index: 10;
}
.slider-contenedor {
    position: relative;
    width: 100vw;
    overflow: hidden;
    height: 500px;
    background-color: #ff8000;
}
.swiper {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.swiper-slide img {
    width: 100%;
    height: 94%;
    object-fit: contain; 
}
.swiper-pagination {
    position: absolute;
    bottom: 10px;
    text-align: center;
}
.swiper-button-prev, .swiper-button-next {
    color: #ffffff !important;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
}
.swiper-button-prev:hover, .swiper-button-next:hover {
    background: rgba(255, 255, 255, 0.3);
}
.swiper-scrollbar {
    background: rgba(0, 0, 0, 0.2);
}
.swiper-pagination-bullet {
    background-color: #ffffff !important;
    opacity: 0.7;
}
.swiper-pagination-bullet-active {
    background-color: #ffffff !important;
    opacity: 1;
}

/* Texto para la cantidad de logos */
.cantidad-empresas {
    font-size: 24px;
    text-align: center;
    margin-bottom: -5px;
    margin-top: 70px;
}

/* Estilo para la sección de logos */
.logos {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 0;
    width: 100%;              
    box-sizing: border-box; 
}
.logos img {
    width: 100px;
    height: auto;
    margin: 15px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    transition: transform 0.3s ease;
}
.logos img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

/* Estilo para el titulo antes de las tarjetas */
.main-title {
    text-align: center;
    font-size: 52px;
    color: #ff8000;
    font-weight: bold;
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
}

/* Estilos para las tarjetas y sus contenedores */
.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 30px 0;
    position: relative;
}
.section {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f6f6;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.section:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}
.section-content {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.p-marca {
    color:#ff8000;
}
.section-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
}
.zonaDerecha {
    flex-direction: row;
}
.zonaIzquierda {
    flex-direction: row-reverse;
}
.section-container img {
    width: 350px;
    height: auto;
    border-radius: 10px;
}
.section h3 {
    font-size: 26px;
    color: #333;
    margin-bottom: 10px;
}
.section p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
}

/* Estilos para el apartado optimizar tu negocio */
.optimizar-title p {
    text-align: center;
}
.modulos-destacados {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.tarjeta {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    width: 100%;
    max-width: 400px;
}
.tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}
.tarjeta img {
    width: 130px;
    height: auto;
    margin-bottom: 15px;
}
.tarjeta h3 {
    margin-top: -5px;
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}
.tarjeta p {
    margin-top: 0px;
    font-size: 18px;
    color: #666;
}

/* Estilos para la sección de los planes de tarifas, sus tarjetas y botones */
.contenedor {
    background-color: #ff8000;
    width: 100vw;
    height: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.contenedor h2 {
    margin: 10px 0;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.contenedor h6 {
    margin: 5px 0;
    font-size: 14px;
    color: white;
}
.boton-centro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.boton-invertir {
    width: 200px;
    height: 50px;  
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex; 
    border-radius: 25px;
    overflow: hidden;
    padding: 0;
    border: 2px solid black;
}
.mitad {
    flex: 1;  
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background 0.3s, color 0.3s;
}
.izquierda {
    background-color: black;
    color: white;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.derecha {
    background-color: white;
    color: black;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton-invertido .izquierda {
    background-color: white;
    color: black;
}
.boton-invertido .derecha {
    background-color: black;
    color: white;
}
.tarjetas {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    height: 60%;
    margin-bottom: 20px;
}
.tarjetaPlan {
    background-color: white;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.tarjetaPlan:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}
.tarjetaPlan h6:first-of-type {
    margin-bottom: 10px;
}
.tarjetaPlan h6 {
    color: gray;
}
.tarjetaPlan h7 {
    color: gray;
    margin-top: -10px;
}
h6.subtitulo {
    font-size: 24px;
    color: black;
}
.tarjetaPlan h6:last-of-type {
    margin-top: 40px;
}
.oferta {
    color: gray;
    margin-top: -15px;
    font-size: 10px;
    margin-bottom: -10px;
}
.tarjetaPlan h2 {
    color: black;
    font-size: 65px;
}
.btn {
    background-color: rgb(54, 54, 54);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: auto;
}
.btn:hover {
    background-color: #606060;
}
.btn:active {
    transform: scale(0.93);
}

/* Estilos para la sección de video y texto */
.video-seccion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 700px;
    background-color: #f4f4f4;
    padding: 20px;
    gap: 10px;
    overflow: hidden;
    margin-bottom: -50px;
}
.video-contenedor {
    flex: 1;
    max-width: 50%;
}
video {
    width: 100%;
    border-radius: 10px;
}
.video-contenedor img {
    width: 80%;
    height: 100%;
    margin-left: 10%;
    object-fit: cover;
}
.texto-contenedor {
    flex: 1;
    max-width: 50%;
    text-align: left;
    padding: 20px;
    margin-right: 25px;
}
.texto-contenedor h2 {
    font-size: 70px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.texto-contenedor h3 {
    font-size: 70px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    color: #ff8000;
}
.texto-contenedor p {
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    text-align: center;
    width: 90%;
}

/* Estilos para todo el footer y sus contenidos */
.footer {
    background-color: #222;
    color: white;
    padding: 20px;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}
.footer-main {
    text-align: center;
    justify-content: center; 
    margin-bottom: 20px;
}
.footer-main h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.footer-main p {
    font-size: 16px;
    margin-bottom: 20px;
}
.footer-main a {
    text-decoration: none;
}
.footer-main .btn {
    background-color:#ff8000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.footer-main .btn:hover {
    background-color: #fdb447;
}
.footer-columns {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 20px; 
    max-width: 100%;
    overflow: hidden;
}
.footer-column {
    flex: 1;
    min-width: 200px; 
    max-width: 300px; 
    text-align: center;
    justify-content: center; 
    margin-bottom: 25px;
}
.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ff8000; 
}
.footer-column h4 {
    color: #ff8000;
}
.footer-column p {
    font-size: 14px;
    margin-bottom: 25px;
}
.footer-column .btn {
    background-color:#ff8000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.footer-column .btn:hover {
    background-color: #fdb447;
}
.footer-column a {
    text-decoration: none;
}
.footer-column ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}
.footer-column ul li {
    margin-bottom: 10px;
}
.footer-column ul li a {
    color: white;
    text-decoration: none;
}
.footer-column ul li a:hover {
    text-decoration: underline;
    color: #fdb447;
}
.footer-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.footer-section {
    text-align: center;
}
.footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
}
.footer-section ul {
    list-style-type: none;
    padding: 0;
}
.footer-section ul li {
    margin: 5px 0;
}
.footer-section ul li a {
    color: white;
    text-decoration: none;
}
.footer-section ul li a:hover {
    text-decoration: underline;
}
.footer-bottom {
    text-align: center;
    font-size: 14px;
}
.footer-bottom p {
    margin-bottom: 10px;
}
.footer-bottom ul {
    list-style-type: none;
    padding: 0;
}
.footer-bottom ul li {
    display: inline;
    margin-right: 20px;
}
.footer-bottom ul li a {
    color: white;
    text-decoration: none;
}
.footer-bottom ul li a:hover {
    text-decoration: underline;
    color: #fdb447;
}
.social-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/* Estilos para el apartado del formulario y el texto e imagen de su lado */
.formulario-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 100px auto;
    gap: 40px;
    margin-top: 20px;
}
.info-izquierda {
    flex: 1;
    max-width: 50%;
    text-align: center;
}
.info-izquierda h2 {
    font-size: 45px;
    margin-bottom: 10px;
    margin-top: -20px;
    margin-left: -5%;
    width: 110%;
}
.info-izquierda p {
    font-size: 16px;
    margin-bottom: 20px;
}
.info-izquierda img {
    width: 98%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}
.formulario-contenedor-interno {
    background-color: #fb7a02; 
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-right: 6%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}
.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.formulario input, .formulario textarea, .formulario select {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}
.formulario select {
    width: 100%;
    margin-top: 2px;
}
.formulario h3 {
    text-align: left;
    margin-left: 5px;
    margin-bottom: -5px;
}
.formulario button {
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    margin-left: 45%;
    margin-bottom: -10px;
}
.formulario button:hover {
    background-color: #606060;
}
.formulario button:active {
    transform: scale(0.93);
}
.telefonoCiudad {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.telefonoCiudad div {
    display: flex;
    flex-direction: column;
    width: 48%;
}
.telefonoCiudad label {
    font-weight: bold;
    color: white;
}
.telefonoCiudad input {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}
.formulario label {
    font-weight: bold;
    color: white;
    text-align: left;
    margin-left: 5px;
    margin-bottom: -8px;
}

/* Estilos para el apartado de preguntas y dudas */
.tituloDudas img {
    width: 150px; 
    height: auto; 
}
.mainDudas {
    font-size: 36px; 
    margin-top: 90px;
    width: 30%;
    margin-left: 36%;
    text-align: center;
    margin-bottom: -20px;
}
.modulosDudas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
    justify-content: center;
    gap: 20px 60px; 
    max-width: 800px; 
    margin: 0 auto; 
    margin-top: -20px;
    margin-bottom: 50px;
}
.duda {
    background-color: #e6e6e6;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    height: 110px;
    width: 100%;
    max-width: 400px;
}
.duda:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.duda:active {
    transform: scale(0.93);
}
.duda img {
    width: 40px;
    height: auto;
    margin-left: 10%;
}
.duda p {
    width: 90%;
    font-size: 24px;
    color: #666;
}

/* Estilos para el apartado de información adicional sobre la empresa */
.contenedorExtraInfo {
    background-color: #ff8000;
    width: 100%;
    min-height: 120px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 50px;
}
.tituloExtraInfo h2 {
    font-size: 50px;
    margin-left: 30px;
}
.tituloExtraInfo p {
    margin-top: -30px;
    margin-left: 30px;
}
.botonesExtraInfo {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-left: 30px;
}
.botonesExtraInfo button {
    background-color:rgb(54, 54, 54);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
    height: 60px;
    font-size: 16px;
}
.botonesExtraInfo button:hover {
    background-color: #606060;
}
.botonesExtraInfo button:active {
    transform: scale(0.93);
}

/* Diseño del boton para subir al inicio de la pagina */
.boton-subir {
    position: fixed;
    bottom: 20px;
    right: 40px;
    background-color: #ff6600;
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.3s;
}
.boton-subir:hover {
    background-color: #e05500;
    transform: scale(1.1);
}

/* Diseño para los mensajes que aparecen para resolver las dudas */
.mensajeDuda {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    display: none;
    width: 40%;
    margin-left: 30%;
}

/* Estilos para la pagina con el formulario para invertir */
.containerInvertir {
    margin: 90px;
    display: flex;
    background: white;
    width: 1000px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.infoBox {
    width: 50%;
    padding: 30px;
    background-color: white;
}
.form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.tituloBox {
    font-size: 60px;
    color: #ff8000;
    font-weight: bold;
}
.infoBox img {
    width: 70%;
    margin-left: 15%;
}
.formBox {
    width: 50%;
    background-color: #ff8000;
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.formBox h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.form input {
    width: 95%;
    padding: 15px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
}
.form input:focus {
    outline: none;
}
.checkbox {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    font-size: 12px;
    margin-right: 50px;
}
#terms {
    margin-right: -50px;
}
.checkbox input {
    margin-right: 10px;
}
.botonInvertir {
    margin-top: auto;
    width: 50%;
    margin-left: 25%;
    padding: 10px;
    margin-top: 80px;
    border: none;
    border-radius: 5px;
    background:  rgb(73, 73, 73);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.botonInvertir:hover {
    background: #858484;
}
.botonInvertir:active {
    transform: scale(0.95);
}
.p-terminos {
    color:#222;
}

/* Estilos para las paginas de avisos legales, cookies, privacidad y uso */
.textContainer {
    max-width: 800px;
    background: white;
    padding: 20px;
    margin: 40px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.textContainer h1 {
    text-align: center;
    color: #444;
}
.textContainer h2 {
    color: #666;
}
.textContainer p {
    line-height: 1.6;
}
.textContainer ul {
    list-style-type: none;
    padding: 0;
}
.textContainer ul li {
    margin-bottom: 8px;
}
.textContainer a {
    color: #007BFF;
    text-decoration: none;
}
.textContainer a:hover {
    text-decoration: underline;
}

/* Estilos para el formulario modal emergente */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-contenido {
    background: #fff;
    padding: 20px;
    width: 400px;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}
.modal-contenido h2 {
    font-size: 36px;
}
.cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}
.modal-contenido form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.lab {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: -10px;
}
.modal-contenido input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 95%;
}
.modal-contenido input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}
.modal-contenido button {
    background-color: #ff8000;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
}
.modal-contenido button:hover {
    background-color: #fdb447;
}
.modal-contenido button:active {
    transform: scale(0.93);
}
.modal-contenido input:focus {
    border: 2px solid orange;
    outline: none;
}

